*.pro
*.pro.user
*.pro.user*
build*
build-*
*.o
*.so
*.a
*.so.*

#no temp files
*~
.~*
**/*~
**/.~*

#no Pycharm / CLion project files 
.idea/** 
**/.idea/

CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
CTestTestfile.cmake
cmake-build-debug/

# qtcreator stuff
*.creator
*.creator.user
*.files
*.includes

# Visual Studio Code
.vscode/
